<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Laravel">
            <directory>tests</directory>
            <exclude>tests/Doctrine</exclude>
            <exclude>tests/Phalcon</exclude>
        </testsuite>
        <testsuite name="Doctrine">
            <directory>tests/Doctrine</directory>
        </testsuite>
        <testsuite name="Phalcon">
            <directory>tests/Phalcon</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
